@model KLENZ.Models.Project_ToBeTenderList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project_ToBeTenderList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkOrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinancialYear.FyYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GSTType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GSTType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
