@model KLENZ.Models.SalesEnquiry

@{
    ViewData["Title"] = "Sales Enquiry Details";
}

<div class="card shadow-lg rounded-card">
    <div class="card-header bg-info bg-opacity-75 text-white">
        <h4 class="mb-0">Sales Enquiry Details</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-md-2 fw-bold">Company Name</dt>
            <dd class="col-md-4">@Html.DisplayFor(model => model.CompanyNameStr)</dd>

            <dt class="col-md-2 fw-bold">Referred By</dt>
            <dd class="col-md-4">@Html.DisplayFor(model => model.ReferedBy)</dd>

            <dt class="col-md-2 fw-bold">Enquiry Details</dt>
            <dd class="col-md-4">@Html.DisplayFor(model => model.EnquiryDetails)</dd>

            <dt class="col-md-2 fw-bold">Enquiry Date</dt>
            <dd class="col-md-4">@Model.EnquiryDate?.ToString("dd/MM/yyyy")</dd>

            <dt class="col-md-2 fw-bold">Customer Details</dt>
            <dd class="col-md-4">@Html.DisplayFor(model => model.CustomerDetails)</dd>

            <dt class="col-md-2 fw-bold">Status</dt>
            <dd class="col-md-4">@Html.DisplayFor(model => model.Status)</dd>

            <dt class="col-md-2 fw-bold">Remarks</dt>
            <dd class="col-md-4">@Html.DisplayFor(model => model.Remarks)</dd>

            <dt class="col-md-2 fw-bold">Reminder Date</dt>
            <dd class="col-md-4">@Model.ReminderDate?.ToShortDateString()</dd>

            <dt class="col-md-2 fw-bold">Reminder Place</dt>
            <dd class="col-md-4">@Html.DisplayFor(model => model.ReminderPlace)</dd>

            <dt class="col-sm-2">Created Date & Time</dt>
            <dd class="col-sm-4"> @(Model.CreatedDateTime.HasValue ? Model.CreatedDateTime.Value.ToString("dd/MM/yyyy HH:mm") : "N/A")</dd>

            <dt class="col-sm-2">Created By</dt>
            <dd class="col-sm-4">@Model.CreatedUserName</dd>
        </dl>

        <!-- Buttons with proper spacing -->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>
</div>
